 @import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

body {
	font-family: 'Teko', Geneva, Arial, Helvetica;
	font-size: 150%;
	line-height: 150%;
	background-color: rgba(255,240,225,1);
	text-align: center;
	margin: 0rem;
	/*background: fixed bottom url('../pics/back.webp') repeat-x, fixed right top url('../pics/sun.png') no-repeat;*/
	/*background-attachment: fixed;*/
	/*background-position: bottom;*/
	text-shadow: 1px 1px 1px white;
}

h1 {
	/*position: fixed;*/
	margin-bottom: 1rem;
	margin-top: 0;
	padding: 2rem;
	letter-spacing: 0.2rem;
	color: white;
	background-color: rgba(240,225,210,1);
	border-bottom: solid 0.1rem rgba(235,220,205,1);
	box-shadow: 0px 8px 10px rgba(50,50,50,0.2);
	background-image: url('../pics/mosa.jpg');
	background-size: contain;
	background-repeat: repeat;
	text-shadow: 5px 3px 1px black;
	width: 100%;
}

/*#rest {
	margin-top: 5em; 
}*/

hr {
	color: rgba(255,255,255,1);
	font-size: 1rem;
}

h1, h2 {
	font-variant: small-caps;
}

h2, h3, h4 {
	letter-spacing: 0.1rem;
	background-color: rgba(240,225,210,1);
	border: solid 0.2rem rgba(235,220,205,0.8);
	box-shadow: 2px 2px 4px rgba(50,50,50,0.2), -2px -2px 4px rgba(255,255,255,0.6);
}

h2 {
	margin: 2rem;
	padding: 1rem;
	/*text-shadow: 0px 0px 20px black;*/
}

h3 {
	margin: 4rem;
	padding: 1rem;
}

h4 {
	margin: 0.5rem 6rem;
	padding: 0.5rem;
}

blockquote span::before {
	content: '\201C'; 
}

blockquote span::after {
	content: '\201D';
}

blockquote, figcaption {
	border: solid 0.2rem rgba(255,255,255,0.3);
	background-color: rgba(255,255,255,0.2);
	padding: 1rem;
	margin: 1rem 8rem 0rem 8rem;
	border-radius: 1.5rem 1.5rem 0rem 0rem;
	/*box-shadow: 2px 0px 4px rgba(255,255,255,0.8), -2px -2px 4px rgba(255,255,255,0.8);*/
}

figure {
	border-right: solid 0.2rem rgba(240,225,210,1);
	border-left: solid 0.2rem rgba(240,225,210,1);
	background-color: rgba(240,225,210,0.5);
	margin: 0rem 8rem;
	padding: 1rem 0rem 0rem 0rem;
}

p {
	background-color: rgba(240,225,210,0.5);
	margin: 0rem 8rem;
	padding: 1rem;
	border-left: solid 0.2rem rgba(240,225,210,1);
	border-right: solid 0.2rem rgba(240,225,210,1);
}

ul, ol {
	text-align: left;
	margin: 0rem 10rem;
	padding: 0rem 5rem;
	background-color: rgba(240,225,210,1);
}

li ul, li ol {
	margin: 0rem 0rem;
	/*text-align: center;*/
}

li ul {
	list-style-image: url('../pics/ico.svg');
}

.petit {
	font-size: 1.3rem;
	margin: 0rem 10rem;
	padding: 0.4rem 0rem;
}

pre {
	text-align: left;
	/*border: 32px black solid;
	border-width: 32px 16px 8px 4px;*/
	/*border: 0.2em black solid;*/
	margin: 0rem 16rem;
	padding: 1rem 4rem;
	background-color: rgba(240,225,210,1);
	/*width: 50%;*/
	border-radius: 0rem 0rem 1.5rem 1.5rem;
	background-image: linear-gradient(rgba(235,220,205,0.8), rgba(240,225,210,1), rgba(255,240,225,1));
}

table {
	width: 75%;
	margin: auto;
}

tbody tr td {
	border: solid rgba(200,200,200,0.5);	
}

thead {
	text-shadow: 1px 1px 1px rgba(0,0,0,1);
	background-color: rgba(100,100,100,0.6);
	color: rgba(255,255,255,1);
}

tr:nth-child(even) {
	background-color: rgba(200,200,200,0.5);
}

tfoot {
	text-shadow: 1px 1px 1px rgba(0,0,0,1);
	background-color: rgba(100,100,100,0.6);
	color: rgba(255,255,255,1);
	font-weight: bold;
}

caption {
	margin: 0.5rem;
	font-weight: bolder;
	color: rgba(110,95,80,0.8);
	text-shadow: 0px 0px 1px rgba(255,255,255,1);
}

tbody td:last-child {
	text-align: right;
}

iframe {
	box-shadow: 2px 2px 4px rgba(50,50,50,0.2), -2px -2px 4px rgba(255,255,255,0.8);

}

a:link {
	color: grey;
}

a:hover {
	color: black;
	text-decoration: none;
}

h1+main>p:first-child::first-letter, h2+p::first-letter {
	font-weight: bold;
	font-size: 1.5rem;
}

h1+main>p:first-child::first-line, h2+p::first-line {
	font-style: italic;
}

img:active {
	/*opacity: 0;*/
	display: none;
	/*visibility: hidden;*/
}